/* GEMENSAM STYLING FÖR HELA HOTELLSIDAN */

.landing-container{
    width: 100%;
    height: 60vh;
}
.landing-image{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.landing-overlay{
    width: 100%;
    height: 60vh;
    position: absolute;
        top: 0;
        left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing-overlay-text-wrapper{
    min-height: 40%;
    margin-top: 50px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1em;
    color: white;
}
.landing-overlay-text-wrapper h3{
    text-align: center;
    color: white;
    text-transform: uppercase;
}
@media screen and (min-width: 800px){
    .landing-overlay-text-wrapper{
        justify-content: space-around;
        padding: 70px;
    }
    .landing-overlay-text-wrapper h3{
        font-size: 40px;
    }

    .landing-overlay-text-wrapper h4{
        font-size: 20px;
        color:white;
    }
}

/* SUB HEADER */

#sub-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background:rgba(109, 191, 194, 0.671);
    margin-bottom: 20px;
}

#sub-header-container a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#sub-header-container a:hover {
    color: rgba(109, 191, 194, 0.9);
    text-decoration: none;
}
/*
.title-container h2 {
    margin: 0px;
    color: rgba(109, 191, 194, 0.671);
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}
*/
/* HOTEL SECTION */

.hotel-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 50px 10px 50px;
    margin-bottom: 50px;
    border: 0px;  
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hotel-text-info-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hotel-image-info {
    background-color: white;
    border: 0;
}

.hotel-image-info img {
    width: 100%;
}

.hotel-facilities{
    padding: 20px;
    border: 2px dotted rgba(109, 191, 194, 0.671);  
}

.hotel-text-info-extra {
    font-size: 24px;
    margin: 0 auto;
}

.hotel-info-icons {
    display: flex;
    flex-direction: column;
    border-top: 5px dotted rgba(109, 191, 194, 0.671);
    padding-top: 20px;
}


.hotel-icons{
    margin: 15px 0px;
}

.wifi-icon-info {
    display: none;
    transition: 0.8s;
    position:absolute;
    z-index: 2;
}

.wifi-icon-box:hover p {
    display: block;
    font-size: 16px;
    margin-top: 0px;
}

.wheelchair-icon-info {
    display: none;
    transition: 0.8s;
    position:absolute;
    z-index: 2;
}

.wheelchair-icon-box:hover p {
    display: block;
    font-size: 16px;
    margin-top: 0px;
}

.heart-icon-info {
    display: none;
    transition: 0.8s;
    position:absolute;
    z-index: 2;
}

.heart-icon-box:hover p {
    display: block;
    font-size: 16px;
    margin-top: 0px;
}

.hotel-text-info {
    overflow: hidden;
    padding-top: 10px;
}
.test{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 800px) {
    .test{
        flex-direction: column-reverse;
    }
}

/* PACKAGE SECTION */

#package-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
#package-wrapper .bronze{
    color: #D7995B;
}
#package-wrapper .silver{
    color: #C0C0C0;
}
#package-wrapper .gold{
    color: #FFD700;
}
.package-box{
    margin: 20px;
    padding: 20px 20px 40px 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;
    background-color: #FDFEFE;
    
}
.package-box h3{
    
    margin-top: 20px;
    margin-bottom: 15px;
}


/*
#bronze-package{
    color: #D7995B;
}

#silver-package{
    color: #C0C0C0;
}

#gold-package{
    color: #FFD700;
}
*/


/* ROOM SECTION */

#room-container {
    display: flex;
    flex-direction: column;
}

#room-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.room-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.room-image-box {
    position: relative;
}

.room-image-box img {
    display: block;
    width: 100%;
}

.room-overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.room-overlay-box:hover {
    opacity: 1;
}

.room-overlay-box p {
    color: #ffffff; 
    margin: 20px;
    text-align: center;
}

.room-text-container {
    border: 0px;
}
/*
.room-form-wrapper p {
    font-size: 18px;
}
*/
.room-form-wrapper h3 {
    border-bottom: 5px dotted rgba(109, 191, 194, 0.671);
    margin-right: 10px;

}

.room-info-text {
    
}

.room-info-form {
    display: flex;
    flex-direction: column;
}

.bronze{
    color: #D7995B;
}

.silver{
    color: #C0C0C0;
}

.gold{
    color: #FFD700;
}

.checkboxes {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.submit-button {
    background-color:rgba(109, 191, 194, 0.671);
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    cursor: pointer;
    box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.9);
}

/* ACTIVITY SECTION */

#activity-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8vh;
}

.activity-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.activity-grid > div {
    cursor: pointer;
    height: 210px; 
    background-size:cover;
    background-attachment:scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
}

.activity-grid > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

.activity-grid > div:nth-of-type(1) {
    grid-column: 1 / 3;
}

.activity-grid > div:nth-of-type(6) {
    grid-column: 3 / 5;
}

.activity-grid a {
    display:block;
    width:100%;
    height:100%;
    opacity:0;
}

.te-item {
    background: url('../media/img/te.jpeg');
}

.spa-item {
    background: url('../media/img/spa.jpeg');
}

.gym-item {
    background: url('../media/img/gym.jpeg');
}

.spa-saker-item {
    background: url('../media/img/spa\ saker.jpeg');
}

.mat-item {
    background: url('../media/img/mat.jpeg');
}

.bed-item {
    background: url('../media/img/bed.jpeg');
}

.reception-item {
    background: url('../media/img/reception.jpeg');
}

.bad-item {
    background: url('../media/img/bad.jpeg');
}