  /*****INDEX PAGE******/
.shadow-1{/*hämtad Material Design box shadows*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.shadow-1:hover{/*hämtad Material Design box shadows*/
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-2{/*hämtad Material Design box shadows*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*page1 - section - landing-image*/ 
.landing-container{
    width: 100%;
    height: 100vh;
}
.landing-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.landing-overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
        top: 0;
        left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing-overlay-text-wrapper{
    min-height: 40%;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.37);
    letter-spacing: 0.1em;
}
.landing-overlay-text-wrapper h2{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}
.landing-overlay-text-wrapper button{
    margin-top: 50px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 17px;
    color: white;
    font-size: 1em;
    transition: 0.5s;
}
.landing-overlay-text-wrapper button:hover{
    background-color:rgba(109, 191, 194, 0.493);
}
.small-booking-wrapper{
    visibility: hidden;
}
@media screen and (min-width: 800px){
    .landing-overlay-text-wrapper{
        justify-content: space-around;
        padding: 70px;
    }
    .landing-overlay-text-wrapper h2{
        font-size: 70px;
    }
    .landing-overlay-text-wrapper button{
        width: 45%;
        margin-left: 55%;
        font-size: 1.2em;
    }
    .small-booking-wrapper{
        visibility: visible;
        position: absolute;
            top: 12%;
            right:2%;
        display: flex;
        flex-direction: column;  
        background-color:rgba(109, 191, 194, 0.493);
        border: 0px solid teal;   
        border-radius:5px;     
    }
    .small-booking-wrapper h2{
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 10px;
        background-color:rgba(109, 191, 194);
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .small-booking-wrapper form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .small-booking-container{
        display: flex;
        justify-content: space-around;
    }
    .small-booking-choice{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px; 
    }
    .small-booking-choice h3{   
        width: 100%;
        color: white;
        font-size: 1.1em;
        text-align: center;
    }
    .small-booking-choice select{
        width: 100%;
        margin: 1px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        border: 0;
        border-radius: 5px; 
        color: teal;
        font-weight: bolder;
        text-align: center;  
    }
    .small-booking-wrapper button{
        width: 95%;
        margin-bottom: 5px;
        padding: 15px;
        background-color:rgba(109, 191, 194);
        bordeR: 0;
        border-radius: 5px;
        transition: 0.5s;
        color:white;
        font-weight:bolder;
        text-transform: uppercase;
    }
    .small-booking-wrapper button:hover{
        background-color: rgba(0, 0, 0, 0.37);
        
    }
}

/*page1 - section - welcome*/
.text-img{/*BYT NAMN*/
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
}    
@keyframes welcomeSlider{
    0% {left: 0;}

    25% {left: -100%;}

    50% {left: -200%;} 
 
    75% {left: -300%;}

    100% {left: -400%;}
} 
.welcome-slider{
    margin-top: 10px;
    overflow: hidden;    
}
.welcome-slider figure img{
    width: 20%;
}
.welcome-slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation-name: welcomeSlider;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@media screen and (min-width: 800px){
    .text-img{
        justify-content: space-between;
        margin: 0;
    }
    .welcome-slider{
        margin-top: 0;
    }
}

/*page1 - section - news*/
.news-card-section-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.news-card-container {
    position: relative;
    display: flex;
    min-width: 260px;
    margin: 5px 30px;
}
.news-card-container-image{
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: 0.5s;
}
.middle-header{
    opacity: 1;
    position: absolute;
        top: 0%;
        left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.2);
    font-size:2em;  
}
.middle-header h2{
    color: white;
    text-transform: none;
    border: none;
}
.middle-header p{
    color: white;
    font-size: 0.8em;
}
.middle-header button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 17px;
    color: white;
    font-size: 16px;
    transition: 0.5s;
}
.middle-header button:hover{
    background-color:rgba(109, 191, 194, 0.493);
}
.middle-overlay{
     display: none;
}
.rest-container{
    position: relative;
    display: flex;
    min-width: 260px;
    margin: 5px 30px;
}
.rest-overlay{
    position: absolute;
        top: 0;
        left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 0.5s;
    opacity: 1;
}
.rest-overlay p{
    width: 80%;
    margin-top: 30%;
    margin-right: 5%;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    color:rgba(109, 191, 194);
    font-size: 1.3em;
    text-align: center;
    transform:rotate(20deg);
}
@media screen and (min-width: 800px) {
    .middle-header p{
        display: none;
    }
    .middle-header button{
        display: none;
    }
    .middle-overlay {
        position: absolute;
            top: 15%;
            left: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        height: 70%;
        padding: 10px;
        transition: 0.5s;
        opacity: 0;
    } 
    .middle-overlay i{
        font-size: 5em;
    }
    .middle-overlay p{
        margin-top: 20px;
        text-align: center;
    }
    .middle-overlay button{
        margin-top: 20px;
        padding: 10px 20px;
        background-color: black;
        color: white;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 17px;
        transition: 0.5s;
    }
    .middle-overlay a{
        text-decoration: none;
    }
    .middle-overlay button:hover{
        transform:scale(1.05)
    }
    .news-card-container:hover .news-card-container-image{
        opacity: 0.4;
    }
    .news-card-container:hover .middle-overlay {
        opacity: 1;
    }
    .news-card-container:hover .middle-header{
        display: none;
    }
}

/*section - parallax background*/
.background-2 {
    background-image: url("../media/img/p1-background-2.jpg");
    background-position: 67% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 53vh;
}
@media screen and (min-width: 800px){
    .background-2 { 
        background-attachment: fixed;
    }
}

/*page1 - section- booking*/
.big-booking-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.big-booking-text{
    margin: 5px 30px;
}
.big-booking-wrapper form{
    display: flex;
    flex-direction: column;  
    margin: 0px 10px 0px 10px;
}
.big-booking-container{
    
    display: flex;
    justify-content: center;
    background-color:rgba(109, 191, 194, 0.575);
}
.booking-form-calendar{
    display: none;
}
.big-booking-choice{
    display: flex;
    flex-direction: column; 
}
.big-booking-choice h3{
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 20px;
    background-color:rgba(109, 191, 194, 0.575);
    color: white;
}
.big-booking-choice select{
    margin: 2px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: teal;
}
.big-booking-choice select:last-child{
    margin-bottom: 20px;
}
.big-booking-choice select:focus{
    outline: none;
    box-shadow: 0px 0px 5px teal;
}
.big-booking-wrapper button{
    width: 100%;
    padding: 10px;
    background-color:rgba(109, 191, 194);
    border: 0;
    border-radius: 0;
    color:white;
    font-weight:bolder;
    text-transform: uppercase; 
    transition: 0.5s;
}
.big-booking-wrapper button:hover{
    background-color: rgba(0, 0, 0, 0.37);
}
.big-booking-wrapper button:focus{
    outline: none;
    box-shadow: 0px 0px 5px teal;
}
@media screen and (min-width: 800px){
    .big-booking-wrapper{
        justify-content: space-between;
    }
    .big-booking-text{
        margin: 0;
        padding-right: 10px;
    }
    .big-booking-wrapper form{
        margin: 0;
    }
    .booking-form-calendar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }  
    .booking-form-calendar h3{
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        padding: 10px;
        padding-top: 20px;
        background-color:rgba(61, 196, 201, 0.575);
        color: transparent;
    }
    .booking-form-calendar i{
        padding: 10px;
        padding-bottom: 20px;
        font-size: 8em;
        color: white;
    }  
    .big-booking-choice select{
        margin: 5px;
        padding: 10px;
    }
}

/*page1 - section - reviews*/
.background-1{
    background-image: url("../media/img/p1-background-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
    min-height: 20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.review-card-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
    padding: 30px 0;
}
.review-card{
    width: 20%;
    min-height: 350px;
    min-width: 260px;
    margin: 20px 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
}
.review-card i{
    justify-self: flex-start;
    color:rgba(109, 191, 194, 0.493);
    text-align:center;
    font-size: 70px;
}
.review {
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-text{
    padding-top: 10px;
    text-align: justify;
}
.review-name {
    padding-right: 10px;
    text-align: right;
    font-style: italic;
}
@media screen and (min-width: 800px) {
    .background-1{
        background-attachment: fixed;
    }
    .review-card{
        margin: 10px 0;
    }
}
