/* For small screens */
[class*="col-"]{
    width: 100%;
}

/* For desktop*/
@media screen and (min-width: 800px){ /*när vi är klara kan vi ta bort de som ej används*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;} 
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*MAINSTYLING*/
* {
    box-sizing: border-box; /*gör att alla boxar får den totala width man faktiskt skriver in*/
    margin: 0; /*tar bort all förbestämd marginal för att helt kunna styra själv*/
    padding: 0; /*tar bort all förbestämd padding för att helt kunna styra själv*/
}
body{
    font-family: Arial, Helvetica, sans-serif; /*la bara in någon för mallens skull*/
}

/*mainstyling - containers*/
.content-container{
    margin: 50px auto;
}
.content-container article{
    margin-top: 20px;
}
.content-container h2{
    margin: 20px 0;
    color:red;
}
.content-container h3{
    margin: 5px 0;
    color:blue;
}
.content-container h4{
    margin: 5px 0;
    color: green;
}
.content-container p{
    margin: 5px 0;
    color:black;
    line-height: 1.5em; /*justerar radhöjden så det blir mer lättläst*/
}

/*header, navigation, logo*/
.header-container{/*container för logotyp och navigering*/      
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    min-height: 8vh;
    position: fixed;
        top: 0;
        left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    z-index: 3;
}
.logo-container{/*fixerad container för logo*/
    height: 8vh;
    margin-left: 20px;
    padding: 5px;
    display: flex;
    color: white;
    text-decoration: none;
}
.logo{
    height: 100%;
    object-fit: contain;
}
.company-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    padding: 5px;
}
.company-name h1{
    font-size: 20px;
}
.navbar{/*container navigering*/
    height: 100%;/*använd om navbaren ska ligga i headerna*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.navbar ul{
    display: flex;
}
.navbar li{
    padding: 10px;
    list-style: none;
}
.navbar a{
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;  
}
.navbar a:hover {
    text-decoration: underline;
}

/*tooltip - contact*/
.tooltip-container{
    position: fixed;
        bottom: 7%;
        right: 20px;
    padding: 15px;
    background-color:rgba(109, 191, 194, 0.671);
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    text-align: center;
}
.tooltip-container form{
    display: none;
}
.tooltip-container h4{
    margin: 10px 0;
    font-size:24px;
}
.tooltip-container input{
    width: 200px;
    margin-top: 10px;
    display: block;
    border: 1px solid white;
}
.tooltip-container textarea{  
    width: 200px;
    height: 70px;
    margin-top: 10px;
    display: block;
    border: 1px solid white;
}
.tooltip-container button{
    margin-top: 10px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.tooltip-container button:hover{
    background-color: white;
    color: rgba(109, 191, 194, 0.671);
}
.tooltip-container:hover form{
    display: block;
    font-size: 16px;
}
.tooltip-container:hover{
    width: auto;
    height: auto;
    border-radius: 15px;
    text-align: left;
}
.tooltip-container:hover i{
    display: none;
}

/*section - footer*/
footer{
    background-color: rgba(40, 56, 60, 0.87);
    padding-top: 30px;
}
.footer-wrapper{
    display: flex;   
    flex-wrap: wrap;
}
.footer-wrapper h2{
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    margin-right: 30px;
}
.footer-wrapper p{
    color: white;
}
.newsletter-wrapper{
    color: white;
}
.newsletter-wrapper input{
    padding: 10px;
}
.newsletter-wrapper button{
    padding: 10px;
    border: 0;
    text-transform: uppercase;
}
.newsletter-wrapper button:hover{
    background-color:rgba(109, 191, 194, 0.493);
}
.social-media p{
    color: white;
    margin-bottom: 10px;
}
.social-media a{
    color: white;
    text-decoration: none;
}
.social-media i{
    font-size: 1.3em;
}
.contact-wrapper{
    display: flex;  
    flex-wrap: wrap;
    color: white;  
}
.contact-wrapper a{
    color: white;
    text-decoration: none;
}
.mail-us, .call-us, .adress{
    margin-bottom: 30px;
}
.map img{
    width: 100%;
    object-fit: contain;
}
.copyright{
    margin-top: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: right;
}